<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <experiencesurvey>
            <general>
                <enable>1</enable>
                <display_options>Social Media;Word of mouth;Search Engine</display_options>
                <display_label>How did you hear about our website?</display_label>
            </general>
        </experiencesurvey>
    </default>
</config>
