<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       <add id="Hatslogic_ExperienceSurvey::Index" title="Experience Survey Statistics" module="Hatslogic_ExperienceSurvey" sortOrder="10" action="hatslogicexperiencesurvey/index" resource="Hatslogic_ExperienceSurvey::index" />
   </menu>
</config>

